/*noinspection CssUnusedSymbol*/
[class*=field] {
    width: 50px;
    height: 50px;
    border-width: 3px;
    border-style: solid;
    border-color: transparent;
}

/*noinspection CssUnusedSymbol*/
.field-black {
    background-color: antiquewhite;
}

/*noinspection CssUnusedSymbol*/
.field-white {
    background-color: burlywood;
}

.field-border {
    text-align: center;
    font-size: 36px;
}

.field-marked {
    border-style: solid;
    border-color: green;
}