[class*=layout-list] {
    width: 200px;
    height: 30px;
}

[class*=layout-list]:hover {
    background-color: gold;
}


.layout-list-black {
    background-color: antiquewhite;
}

.layout-list-white {
    background-color: burlywood;
}