#title {
    text-align: center;
    font-size: 48px;
    background-color: antiquewhite;
}

#state-output {
    text-align: center;
    font-size: 24px;
}

.state-output-important {
    background-color: burlywood;
}

.state-output-normal {
    background-color: antiquewhite;
}

#main-table > tbody {
    vertical-align: top;
    max-height: 100%;
}

#layout-list-container {
    table-layout: fixed;
    max-height: 650px;
    overflow-y: scroll;
}

#settings {
    background-color: antiquewhite;
    text-align: left;
    font-size: 16px;
}

#new-game {
    display: inline-block;
    background-color: burlywood;
}

.setting-color-selected {
    background-color: white;
}

.setting-color-unselected {
    background-color: burlywood;
}

#credits {
    text-align: left;
    font-size: 16px;
    background-color: antiquewhite;
}