#title {
    text-align: center;
    font-size: 48px;
    background-color: antiquewhite;
}

#stateOutput {
    text-align: center;
    font-size: 24px;
}

.stateOutputImportant {
    background-color: burlywood;
}

.stateOutputNormal {
    background-color: antiquewhite;
}

#mainTable > tbody {
    vertical-align: top;
    max-height: 100%;
}

#layoutListContainer {
    table-layout: fixed;
    max-height: 650px;
    overflow-y: scroll;
}

#settings {
    background-color: antiquewhite;
    text-align: left;
    font-size: 16px;
}

#newGame {
    display: inline-block;
    background-color: burlywood;
}

[id*=settingColor] {
    background-color: burlywood;
}

#credits {
    text-align: left;
    font-size: 16px;
    background-color: antiquewhite;
}